
<div class="home">
  <div class="diagonale"></div>
          <div class="flex justify-center items-center h-screen">
              <div class="bg-blue-500 bg-opacity-80 rounded-lg p-8 shadow-xl flex flex-col justify-center items-center z-10">
                  <h1 class="svgBg text-2xl font-bold mb-4 text-center text-white" style="width: 126px; height: 18px; display: flex; justify-content: center; align-items: center;">
                  </h1>
                  <div class="flex justify-center space-x-4">
                      <a routerLink="/login" class="bg-black bg-opacity-75 text-white hover:bg-black  hover:text-white  py-2 px-4 rounded-lg">Login</a>
                      <a routerLink="/register" class="bg-white bg-opacity-75 hover:bg-white  hover:text-black text-black py-2 px-4 rounded-lg ">Register</a>
                  </div>
              </div>
          </div>
</div>


