.home {
  position: relative;
  background-image: url("../app/assets/images/bureaux.jpg");
  background-size: cover; /* Ajustez la taille de l'image pour qu'elle couvre toute la zone */
  background-position: center; /* Centrez l'image horizontalement et verticalement */
  background-repeat: no-repeat;

}

.diagonale
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to top right, rgba(0, 0, 0, 0.7) 50%, transparent 50%);
}

a[routerLink="/login"], a[routerLink="/register"] {
  cursor: pointer;
}
